agent_type: "DQN"
model_class: "MaskableDQN"

num_cpu: 8

log_dir: "DQN"
model_dir: "DQN"
model_name: "maskable_dqn_splendor_vs_bot"

total_timesteps: 10000000
save_interval: 1000000

policy: "MultiInputPolicy"

model_hyperparameters:
  buffer_size: 500000
  learning_starts: 50000
  batch_size: 32
  gamma: 0.99

load_model_path: ""