agent_type: "DQN"
model_class: "DQN"

num_cpu: 8

log_dir: "DQN"
model_dir: "DQN"
model_name: "dqn_splendor_vs_bot"

total_timesteps: 40000000
save_interval: 4000000

policy: "MultiInputPolicy"

model_hyperparameters:
  buffer_size: 500000
  learning_starts: 50000
  batch_size: 32
  gamma: 0.99

load_model_path: ""