agent_type: "DQN"
model_class: "MaskableDQN"
total_timesteps: 10000000
save_interval: 1000000   

model_hyperparameters:
  buffer_size: 1000000     
  learning_starts: 50000   
  batch_size: 512
  
  gamma: 0.99             
  
  learning_rate: 0.0001   
  
  target_update_interval: 2000 
  tau: 1.0
  
  train_freq: 4
  gradient_steps: 1
  max_grad_norm: 10
  
  exploration_fraction: 0.5  
  exploration_initial_eps: 1.0
  exploration_final_eps: 0.05

  policy_kwargs:
    net_arch: [256, 256]