# configs/ppo_config.yaml

agent_type: "PPO" 
model_class: "MaskablePPO"

num_cpu: 8

log_dir: "./results/logs/ppo/"
model_dir: "./results/models/ppo/"
model_name: "maskable_ppo_splendor_vs_bot"

total_timesteps: 1000000
save_interval: 100000

policy: "MlpPolicy"

model_hyperparameters:
  n_steps: 2048
  batch_size: 64
  gamma: 0.99

load_model_path: "models/maskable_ppo_splendor_vs_bot_final.zip"
