agent_type: "PPO" 
model_class: "MaskablePPO"

num_cpu: 8

log_dir: "PPO"
model_dir: "PPO"
model_name: "maskable_ppo_splendor_vs_bot"

total_timesteps: 10000000
save_interval: 1000000

model_hyperparameters:
  n_steps: 2048
  batch_size: 64
  gamma: 0.99

load_model_path: "results/models/ppo/maskable_ppo_splendor_vs_bot_final.zip"
